<md-dialog aria-label="Login Form">

	<md-dialog-content class="md-dialog-content" layout="column" layout-align="center center">
		<h2>Login to your account</h2>
		
		<md-input-container class="md-icon-float md-block">
			<label>Name</label>
			<input type="text">
		</md-input-container>
		<md-input-container class="md-icon-float md-block">
			<label>Password</label>
			<input type="password">
		</md-input-container>	
		<md-checkbox class="md-icon-float md-block">
			Remember Me
		</md-checkbox>	
		<md-button class="md-primary md-raised">
			Login
		</md-button>	
		<md-button href="#">
			Forgot your Password?
		</md-button>		
		<md-divider></md-divider>

		<h2>New customer?</h2>
		<md-button class="md-primary md-icon-float md-block">
			Create an account
		</md-button>		
		
	</md-dialog-content>
			
	
</md-dialog>
