<md-dialog aria-label="Login Form>
	<form ng-cloak id="login-form">
		<md-dialog-content>
			<div class="md-dialog-content">
			
				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					<h2 center>Login to your account</h2>
				</section>				
				<md-input-container class="md-icon-float md-block input-container">
					<label>Email Address</label><input type="text">
				</md-input-container>
				<md-input-container class="md-icon-float md-block input-container">
					<label>Password</label><input type="password">
				</md-input-container>	
				<md-checkbox class="md-icon-float md-block">
					Remember Me
				</md-checkbox>
				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap><md-button id="login-button" class="md-primary md-raised md-block">
					Login
				</md-button></section>
				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					<a href="#">Forgot your Password?</a>
				</section>
				<br/><md-divider></md-divider>

				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					<h2>New customer?</h2>
				</section>
				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					<md-button id="create-account" class="md-primary md-raised">
						CREATE AN ACCOUNT
					</md-button>		
				</section>
			</div>
		</md-dialog-content>			
	</form>	
</md-dialog>
